.main {
    margin-top: 7px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.apptitle {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 1000;
    color: blue;
    width: 100%;
    text-align: center;
}

.table {

    width: 457px;
    background-color: darkgray;
}

.tdheader {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 1000;
    color: blue;
    display: flex;
}

.tdclass {
    width: 400px;
}

.title {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 30px;
}

.label {
    text-align: right;
    font-weight: bold;
    color: white;
}

.status {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

.data {
    position: absolute;
    margin-top: 20px;
}

.area {
    margin-left: 20px;
    width: 408px;
    height: 100px;
}

.button {
    width: 100%;
    margin-right: 10px;
    flex-grow: 1;
}

.select {
    width: 88%;
}

.buttonContainerFlex {
    display: flex;
    gap: 20px; /* Adjust the value as needed */
}
